
*.vsidx
*.tlog
*.vsidx
*.lock
.vs/Alif5/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.vcxproj
*.user
*.vsidx
*.vsidx
*.exe
*.vsidx
*.recipe
*.ilk
*.log
*.filters
*.vsidx
*.obj
*.pdb
*.txt
*.idb
*.iobj
*.ipdb
*.sln
*.enc
